<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WLEDger: {{ if .Title }}{{ .Title }}{{ else }}Inventory Manager{{ end }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.ico">
    <script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
</head>

<body>
    <nav class="container">
        <ul>
            <li>
                <a href="/" style="display: flex; align-items: center; text-decoration: none; border: none; background: none;">
                    <img src="/static/wledger-name-rainbow.png" alt="WLEDger Name Logo" style="height: 40px; width: auto;">
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="/">Inventory</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/inspiration">Inspiration</a></li>
            <li><a href="/settings">Settings</a></li>

            <li>
                <button class="secondary outline" style="padding: 0.5rem 0.75rem;" hx-post="/api/v1/stop-all"
                    hx-confirm="This will turn off all known LEDs. Are you sure?" hx-swap="none">
                    Stop All LEDs
                </button>
            </li>
        </ul>
    </nav>

    <main class="container">